.compitition {
  max-width: 100%;
  overflow: hidden;
}

.compitition__img {
  overflow: hidden;
}
.compitition__img img {
  transition: transform 0.5s ease-in-out;
}

.compitition__link--container:hover img {
  transform: scale(1.1);
}

.compition__button--btn {
  color: #7d7d7d;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 12px;
  background-color: #0f0f0f;
  border: 0;
}

.compition__button--btn {
  position: relative;
}
.compitition__link--container:hover .compition__button--btn {
  color: var(--clr-black);
}
.compition__button--btn.btn--background-top-to-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--clr-red);
  z-index: -1;
  transform: scaleY(0);
  transition: transform 0.3s;
  transform-origin: top;
}

.compitition__link--container:hover
  .compition__button--btn.btn--background-top-to-bottom::before,
.compitition__link--container:focus
  .compition__button--btn.btn--background-top-to-bottom::before {
  transform: scaleY(1);
}

.compition__button--btn.btn--background-top-to-bottom {
  z-index: 1;
}
